
{% extends 'base.html' %}
{%load crispy_forms_tags %}
 {%block content%}
<body class="text-center">
   
   
    
    
         
      
  
   
<div class="row">
  
   <div class="col-16 col-md-4 offset-md-4">
      <div class="card">
         <h2>Donde Encontrarnos</h2>
      </div>
     
      <div class="card">
         <div class="card-body">
            <h2> CONTACTANOS </h2>
      <form action="" class="formulario_contacto" method ="post">
         {% csrf_token %}
         {{form | crispy }}
      
      
        
         <div>
            <input type="reset" value="Cancelar" class="btn btn-secondary">   
            &nbsp;
          <button type="submit" id="btnEnviar" class="btn btn-primary"> Enviar </button>
          <br><br>
         </div>
      
       </form>
       {{mensaje}}
         </div>
         
      </div>
      <br><br>
      
   </div>

</div>

 
 <table id="tablacontactos"></table>
</body>
 {%endblock%}